In [1]:
import pandas as pd

In [4]:
data = {'Apple': ['1','4','15','63'], 'Orange': ['3','12','333','34'] }
purchases = pd.DataFrame(data)
purchases

  Apple Orange
0     1      3
1     4     12
2    15    333
3    63     34