In [6]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [3]:
data = {'Apple': ['1','4','15','63'], 'Orange': ['3','12','333','34'] }
purchases = pd.DataFrame(data)
purchases

  Apple Orange
0     1      3
1     4     12
2    15    333
3    63     34

In [7]:
x = np.array([5, 15, 25, 35, 45, 55]).reshape((-1, 1))
x